body {


  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Manchester_United_Panorama_%288051523746%29.jpg/1200px-Manchester_United_Panorama_%288051523746%29.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;

}


header {
  background: linear-gradient(to right, #37003c, #e90052);/*I want my colors to change from left to right*/
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-left: 20px;
}

header h4 {
  font-size: 1rem;
}

nav {
  display: flex;
  gap: 10px;
}

#search,
#filter,
#explore {
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 10px;
}
#search:hover,
#explore:hover {
  background-color: rgba(255, 255, 255, 0.604);
}

#explore {
    margin-right: 10px;
}

#filter:hover {
  background-color: rgba(255, 255, 255, 0.605);
}

main {
  display: flex;
  padding: 20px;
}

#list {
  width: 40%;
  border-right: 2px solid grey;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.85);/*0.9 to reduce opacity in order for the background image to be visible*/
  
}

#details {
  background: rgba(255, 255, 255, 0.80);
  width: 60%;
  padding-left: 20px;
  color: black;
  align-items: center;
}


#badge {
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
  display: block;
  margin: 10px auto;
}

#name {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
  color: black;
  font-size: xx-large;
}

.club-item:hover {
  background-color: gray;
}

/*.club-item[data-league="Premier League"] {
  color: rgb(61, 25, 91);
}

.club-item[data-league="La Liga"] {
  color: rgb(238, 135, 7);
}

.club-item[data-league="Bundesliga"] {
  color: rgb(210, 5, 21);
}

.club-item[data-league="Serie A"] {
  color: rgb(0, 143, 215);
}

.club-item[data-league="Ligue 1"] {
  color: rgb(18, 35, 63);
}*/


footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}